.product-item{
    border: 1px solid #ccc;
    margin: 15px 0;
    padding: 15px;
    min-height: 420px;
    text-align: center;
    border-radius: 8px;
    a{
        text-decoration: none;
        color: rgb(85, 85, 85);
    }
    .price{
        font-size: 1.3rem;
        font-weight: bold;
    }

}